*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 11%, 9%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    font-family: sans-serif;
}

button{
    cursor: pointer;
}